.footer-page {
  margin-top: 5%;
  width: 100%;
  padding: 20px 5%;
  border-top: 1px solid rgb(223, 223, 223);
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    li {
      display: flex;
      flex-direction: column;
      h3 {
        color: #404040;
        font-size: 17px;
      }
      a {
        color: #777777;
        transition: 0.5s;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .rights {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    color: #777777;
  }
}
