.headers {
  .header {
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    .brand {
      max-width: 160px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .search {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .lang {
        color: white;
        font-weight: 600;
        font-size: 17px;
      }
      form {
        display: flex;
        input {
          padding: 7px 30px;
          border-radius: 3px;
          border: none;
          width: 350px;
          outline: none;
          border-radius: 30px;
        }
        button {
          background-color: transparent;
          border: none;
          position: absolute;
          transform: translate(0px, 3px);
          padding: 5px;
          cursor: pointer;
          img {
            width: 22px;
          }
        }
      }
    }
  }
  .subheader {
    background-color: white;
    padding: 20px 25px;
    .cats {
      display: flex;
      gap: 25px;
      li {
        font-size: 17px;
        color: $third;
        font-weight: 600;
      }
    }
    .open {
      display: none;
    }
    @keyframes leftToright {
      0% {
        left: 100%;
      }
      100% {
        left: 0%;
      }
    }
    .sidebar {
      display: none;
      animation: leftToright 0.3s;
      transition: 0.3s;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 9999;
      background-color: white;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      img {
        width: 25px;
        position: absolute;
        top: 15px;
        right: 7px;
      }
      ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        li {
          font-size: 17px;
          color: $third;
          font-weight: 600;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .cats {
        display: none;
      }
      .open {
        display: block;
      }
    }
  }
}
