$primary: #1475bc;
$secondary: #404040;
$third: #3c405b;
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif !important;
}
body {
  background-color: #f1f1f1;
  min-height: 100vh;
}
#app-ar {
  direction: rtl;
  text-align: right;
  .lang {
    text-align: left;
  }
}
#app-en {
  direction: ltr;
  text-align: left;
  .lang {
    text-align: right;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
.see-more {
  background-color: transparent;
  border: 1px solid $primary;
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 15px;
  color: $primary;
  font-weight: 600;
  transition: 0.4s;
  margin-top: 5%;
  display: block;
  &:hover {
    background-color: $primary;
    color: white;
  }
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
.sides {
  display: flex;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  margin-top: 2%;
  justify-content: space-between;
  min-height: 100vh;
  .side {
    &:nth-child(1) {
      max-width: 900px;
      width: 900px;
    }
    &:nth-child(2) {
      max-width: 370px;
      width: 370px;
      .fav-stores {
        h3 {
          font-weight: 500;
          font-size: 20px;
          color: $secondary;
        }
        .stores {
          border-radius: 3px;
          text-align: center;
          margin-top: 3%;
          width: 100%;
          height: 100%;
          ul {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            li {
              .store {
                background-color: white;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 110px;
                max-width: 110px;
                height: 60px;
              }
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
@import "components/navbar";
@import "components/footer";
@import "pages/index";
@import "pages/stores";
@import "pages/store";
@import "pages/categories";
@import "pages/category";
@import "pages/redirect";
@import "pages/search";
@import "pages/about";
@import "pages/contact";
